<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ff0000">
        <title>Default Title</title>

        <meta name="description" content="Some meta description text.">
        <meta name="keywords" lang="de" content="Haus, Garten, Sonne">
        <meta name="keywords" lang="en-us" content="house, garden, sun">

        <link rel="icon" href="favicon.ico" sizes="16x16" type="image/x-icon">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#ff0000">

        <link rel="canonical" href="https://example.com/content.html">
        <link rel="canonical" title="weiterleitung" href="../neue-seite.html">
        <link rel="contents" title="Inhaltsverzeichnis" href="../../navigation/inhalt.htm">
        <link rel="index" title="Stichwortverzeichnis" href="../../navigation/stichwort.htm">
        <link rel="help" title="Hilfe" href="../../editorial/index.htm">
        <link rel="search" title="Suche" href="../../navigation/suche/index.htm">
        <link rel="up" title="HTML-Kopfdaten" href="index.htm">
        <link rel="next" title="Durchsuchbarkeit mit Server-Kommunikation" href="durchsuchbarkeit.htm">
        <link rel="prev" title="Adressbasis und Zielfensterbasis" href="basis.htm">
        <link rel="first" title="Titel einer HTML-Datei" href="titel.htm">
        <link rel="last" title="Durchsuchbarkeit mit Server-Kommunikation" href="durchsuchbarkeit.htm">

        <meta name="robots" content="index,follow">

        <meta name="ICBM" content="50.8920562, 12.080994" />
        <meta name="geo.region" content="DE-TH" />
        <meta name="geo.placename" content="Gera" />
        <meta name="geo.position" content="50.880470;12.081210" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Title of the page" />
        <meta name="twitter:description" content="Some description of the page" />
        <meta name="twitter:image" content="https://picsum.photos/200/300" />

        <meta property="og:title" content="Title of the page" />
        <meta property="og:description" content="Some description of the page" />
        <meta property="og:image" content="https://picsum.photos/200/300" />
        <meta property="og:url" content="https://example.com/" />

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "LocalBusiness",
              "image": [
                "https://example.com/photos/1x1/photo.jpg",
                "https://example.com/photos/4x3/photo.jpg"
               ],
              "@id": "http://davessteakhouse.example.com",
              "name": "Pat's Crab Shack",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "900 Linton Blvd",
                "addressLocality": "Delray Beach",
                "addressRegion": "FL",
                "postalCode": "33444",
                "addressCountry": "US"
              },
              "geo": {
                "@type": "GeoCoordinates",
                "latitude": 40.761293,
                "longitude": -73.982294
              },
              "url": "http://www.example.com/restaurant-locations/manhattan",
              "telephone": "+12122459600",
              "openingHoursSpecification": [
                {
                  "@type": "OpeningHoursSpecification",
                  "dayOfWeek": [
                    "Monday",
                    "Tuesday"
                  ],
                  "opens": "11:30",
                  "closes": "22:00"
                },
                {
                  "@type": "OpeningHoursSpecification",
                  "dayOfWeek": [
                    "Wednesday",
                    "Thursday",
                    "Friday"
                  ],
                  "opens": "11:30",
                  "closes": "23:00"
                }
              ]
            }
        </script>

        <meta name="format-detection" content="telephone=no">
    </head>

    <body>
        <header>

            <img src="logo.jpg" alt="Logo">

            <h1>Hauptüberschrift</h1>

            <nav>
                <ul>
                    <li><a href="#link_1.html">Wiki</a></li>
                    <li><a href="#link_2.html">Blog</a></li>
                    <li><a href="#link_3.html">Forum</a></li>
                </ul>
            </nav>

        </header>

        <main style="display: block;">

            <article>

                <h2>CSS-basierte Layouts</h2>
                <h3>HTML-Struktur ohne CSS</h3>
                <p>
                    Diese Seite enthält zunächst nur die Struktur und den Inhalt.
                    Das Aussehen wird erst in folgenden Beispielen über CSS definiert.
                </p>
                <p>
                    Dennoch ist diese Seite schon nutzbar und wird vom Browser
                    entsprechend dessen Voreinstellungen bereits sinnvoll angezeigt.
                </p>

            </article>

            <aside>

                <h2>Weiterführende Links</h2>
                <ul>
                    <li><a href="link_1.html">Wiki</a></li>
                    <li><a href="link_2.html">Blog</a></li>
                    <li><a href="link_3.html">Forum</a></li>
                </ul>

            </aside>

        </main>

        <footer>
            <a href="kontakt.html">Kontakt</a>
        </footer>
    </body>
</html>
